<html>
    <%-include('commonview/dasnav')-%>
<head>
    <title>
        Dashboard Page
    </title>
</head>
<p>
    <form action="">

        <label for="name">Enter your name</label><br>
        <input type="text" name="name"><br><br>
       

        <label for="email">Enter your email</label><br>
        <input type="text" name="email"><br><br>


        <label for="address">Enter your <address></address></label><br>
        <input type="text" name="address"><br><br>
        
        <button type="submit">Submit request</button>
    
       </form>
</p>


</html>