<html>

<head>
    <title>
        Sidharth Steel 
    </title>

   
    <link rel="stylesheet" href="./commonview/navmy.css">

</head>

<body>

    <div class="navheader">

        <div class="logo">
            <label id="logotxt">Logo area</label>
        </div>

        <div class="menu">
            <ul class="ull ml-auto">
                <li class="ll active"> <a class="nav-link" href="#hm">Home </a></li>
                <li class="ll"> <a class="nav-link" href="#ourserv">Service</a></li>
                <li class="ll"> <a class="nav-link" href="#aboutus">About us</a></li>
                <li class="ll"> <a class="nav-link" href="#cont">Contact Us</a> </li>
            </ul>

        </div>
    </div>

    <!-- Home Section -->


    <section id="hm">
        <main>
            <section class="left-sec">
                <div class="homedata1">

                    <h1 id="welcomt">Welcome to ..</h1>
                    <p class="sidh">Sidharth Steel , Mirganj</p>
                    <p id="hpmepara"> As you come our website I hope you learn about the qualities that make our Organisation outstanding,
                        We have earned the trust and respect of people for one simple reason we have great people (Manager, Marketing Incharege , Finance Officer)  . Our Aim is provide you good quality product for your dream home in low price
                        i
                    </p>
                </div>

            </section>

            <section class="right-sec">
                <div class="homedata2">
                    <img src="/images/anilp.jpg">
                </br></br> <label style="font-size: 25px; font-weight: bold; color:#000000;">Anil Pushpakar</label>
                <label style="font-size: 12px; font-weight: normal; color:#000000;">CEO</label>
                </div>
            </section>
        </main>
    </section>
    <!-- About us -->

   <section id="aboutus">
    <div class="wrapper">

        <h1 id="h1ourtemm">Our Team</h1>

        <div class="team1">
            <div class="team">
                <div class="team_img">
                    <img src="/images/maa.jpg" alt="team_member_image">
                </div>
                <h1 id="hiabout">Nutan Pushpakar</h1>
                <p class="rold">Manager</p>
                <p> I am Nutan Pushpakar  As a Manager of Sidharth Steel my aim to provide all you a good quality products for your home, because I know about feeling for your home As a House Maker women . We provide a good quality product
                    In your cities at very affordable price. 
                </p>

            </div>

            <div class="team">
                <div class="team_img">
                    <img src="/images/ashish.png" alt="team_member_image">
                </div>
                <h1 id="hiabout">Ashish Pushpakar</h1>
                <p class="rold">PR,Marketing Incharege</p>
                <p> As a Public Relation Officer and Marketing Incharge I Always give you insurance for your happiness related to our product. It is our great pleasure to have you on board! A heart welcome to you At Sidharth Steel.Thank you for trusting us and appreciating our Product</p>

            </div>

            <div class="team">
                <div class="team_img">
                    <img src="/images/dsfdsfdsf.jpeg" alt="team_member_image">
                </div>
                <h1 id="hiabout" a>Sujit Pushpakar</h1>
                <p class="rold">CFO</p>
                <p> 
                    As a Chief financial officer I welcome to at our Shop . Our Aim is give you Good experience in shaping in Mirganj And Hathua. We always imporove our service according to your feedback.</p>

            </div>
        </div>

        s
    </div>
   </section>
    <!-- OUR PRODUCTS  -->
   
    <section id="ourserv">
        <div class="outproduct">
            <h1 id="h1ourrproduc">Our PRODUCTS</h1>
            <div class="ff">
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/rockstronimg.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Rockstrong Cement</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/shreecement.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Shree Cement</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/bangurcement.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Bangur Cement</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/jkcement.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">J.K Cement</h1>
        
                </div>
            </div>
    
            <div class="ff">
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="images/ambuja.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Ambuja Cement</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/steeldoor.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Steel Door</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/kitchentile.png" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Kitchen Tiles</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/rockstronimg.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Stone Concrete</h1>
        
                </div>
            </div>

            <div class="ff">
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="images/ambuja.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Steel TMT Bars</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/steeldoor.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Steel Door</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/kitchentile.png" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Kitchen Tiles</h1>
        
                </div>
                <div class="ourprolistig">
                    <div class="product_img">
                        <img src="/images/rockstronimg.jpeg" alt="team_member_image">
                    </div>
                    <h1 id="ourproh1">Stone Concrete</h1>
        
                </div>
            </div>
        </div>
    </section>


    <section id="cont">
        <div class="row">
            <div class="column">
              <iframe  src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=52.70967533219885, -8.020019531250002&amp;q=sidharth+steel+mirganj&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br />
    
            </div>
            <div class="column" style="background-color:rgb(7, 10, 32);">
              <div class="wrapperr">
                <div class="title">
                  <h1  style="color: white;">Contact Us</h1>
                </div>
                <div class="contact-form">
                  <div class="input-fields">
                    <input type="text" class="input" placeholder="Name">
                    <input type="text" class="input" placeholder="Email Address">
                    <input type="text" class="input" placeholder="Phone">
                    <input type="text" class="input" placeholder="Subject">
                  </div>
                  <div class="msg">
                    <textarea placeholder="Message"></textarea>
                    <div class="btn">send</div>
                  </div>
    
                 
                </div>
               
                    <label style="color: white; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sidharth Steel</label><br>
                    <label style="color: white; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> In Front Of Railway Station, Mirganj, Gopalganj-841438, Bihar, India</label>
             <br>                <label style="color: white; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Friday to Sunday 6:am to 8: pm</label>
            </br> </br> </br>
    
                </div>
            </div>
          </div>
    </section>


</body>

</html>




<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe{
    width: 100%;
    height: 100%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 70%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* id access with #idname{} */

/* class access with .classname{} */
.myh2{
color: rgb(101, 57, 160);
background-color: #098765;
width: 300;
height: 40;
}
/* background-attachment: ye image ko background me fix kr dega scroll nhi hoga , apne position pe six rhega  (paralex website) */

.backImge{
   width: 100%;
   height: 100vh;
   /* background-color: blue; */
   /* background repeat-- no-repeat--repeat stop krega
    repeat-y  verticall repeat krega 
    repeat-x horizontally repeat krega*/
   background-image: url('images/catimage.jpeg' );
   /* background-repeat: repeat-y; */
   background-size: 100% 100%;  /*we can  also ues here cover or contain*/
   background-attachment: fixed;

   
}


/* backImge1 ---first image ko second se replace kr dega  */
.backImge1{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    /* background repeat-- no-repeat--repeat stop krega
     repeat-y  verticall repeat krega 
     repeat-x horizontally repeat krega*/
    background-image: url('images/cattwo.jpeg' );
    /* background-repeat: repeat-y; */
    background-size: 100% 100%;  /*we can  also ues here cover or contain*/
    background-attachment: fixed;
 
    
 }

 .backI{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    /* background repeat-- no-repeat--repeat stop krega
     repeat-y  verticall repeat krega 
     repeat-x horizontally repeat krega*/
background-color: aqua;
     /* background-repeat: repeat-y; */
    background-size: 100% 100%;  /*we can  also ues here cover or contain*/
    background-attachment: fixed;
 
    
 }


 /* font
 font family-- face of font
 font style italic bold ....
 font variant  small caps effects
 font size text size
 font weight */
/*  */
 #peraone{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
   font-variant: small-caps;/* chhota wala capital me kr dega aur size km kr dega */
   font-size: 1em;/* 1 em 16px */
   font-style: normal;
   font-weight: 400; /* jitna jyada denge utha bolde hoga jitna km denge utna km hoa */
   padding-bottom: 100;
 }


  /* text---- */
 #peratwo{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-variant: small-caps;/* chhota wala capital me kr dega aur size km kr dega */
    font-size: 1em;/* 1 em 16px */
    font-style: normal;
    color: red;
    letter-spacing: 2px;
    word-spacing: 2px;
    direction: ltr;
    text-align: left;/*  left , right , center*/
    text-transform: capitalize;  /* capitalize   first letter capat.. 
                                   uppercase   all capat..*/
 }


 /* Link--- */
a:link{
color: blueviolet;
 }

 a:visited{
     color: rgb(33, 36, 35);
}

a:hover{
     color:rgb(166, 166, 184);
}

a:active{
     color: yellow;
}

/* border--- */
/*  */
.borderstyleclass{
    width: 400;
    height: 300;
    border-width: 5px;
    background-color: red;
    border-color: blue;
    border-style:dashed;/*  style k aur bhi hote hai*/
    border-radius: 30px; /*  single -2 side se bhi radius de skte hai  border-right ,  border-top-left-radius  single sinlge side k different color bhi rakh skte hai*/


}

/*  */
/* List */
/* top pe padding margin 0 kiye hai , bina padding margin ka list's dots show nhi hota hai */
.ulclass{
    padding: 10;
    margin: 10;
    list-style: circle;
}


/* Box Model */
/*  */
.boxmodel{
    width: 400;
    height: 200;
    background-color: #098765;
    padding-left: 20px;
    margin: 12px;
}

#inone{

    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-color: wheat;
    border-radius: 1em;
}

/* Scrollbard----Overflow ek fix area me scroll lgane k liye */

#ppp{
    width: 300px;
    height: 300px;
    border-width: 10px;
    border-color: red;
    border-radius: 10px;
    border-style:solid;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 20px;
}

/* Postion 
view ko position dene k liye

parent view me relative de kr chid ka postion dena hai*/

.contactusform{
    background-color: #000000;
}

.father{
    width: 400;
    height: 300;
    background-color: red;
    position: relative;
}

.child1{
    width: 80px;
    height: 50px;
    background-color: #098765;
    position:absolute;
    left: 0%;
}

.child2{
    width: 80px;
    height: 50px;
    background-color: blueviolet;
    position:absolute;
    right: 0;
}

.child3{
    width: 80px;
    height: 50px;
    background-color: aqua;
    position:absolute;
    bottom: 0;
    right: 0;
}

.child4{
    width: 80px;
    height: 50px;
    background-color: blue;
    position:absolute;
    left: bottom;
    bottom: 0;
    left: 0;
}

.navheader{
width: 100%;
height: 80px;
background-color: black;
position: fixed;
top: 0;
z-index: 9999;

}

/* Float----float:lest--ye view ko left me set krega
float:right--ye view ko right me set krta hai */
.logo{
    width: 30%;
    line-height: 80px;
    background-color: rgba(201, 248, 228, 0.904);
    line-height: center;
    text-align: center;
    float: left;
    }

    /* display----- */

    .menu{

        width: 70%;
        line-height: 100%;
        background-color: rgba(201, 248, 228, 0.904);
        float:right;

        
        
    }


    .ull{
       margin-right: 12px;
        height: 100%;
        list-style-type: none;
        text-align: right;
        direction: ltr;

    }

.ll{
    marker-end: 12px;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    padding: 12px;
}
    
    a{
        text-decoration: none;
    }

    
    
    main{
        margin-top: 10%;
        background-color: white;
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .homeclass{
        background-color: rgba(236, 245, 241, 0.993);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;  /*we can  also ues here cover or contain
        background-attachment: fixed;
    } */

    .homedata1{
        text-align: start;
        width: 75%;
        float: left;
    }

    .homedata2{

        height: 50%;
        width: 100%;
        text-align: center;
        margin-top: 20%;
        marker-end: 20%;
        margin-right: 20%;

    }

    .homedata2 img{
        width: 100%;
    }


    .homedata1 h2{
        height: 50%;
        font-weight: bold;
        font-size: 48px;
        line-height: 70px;
        color: #000000;
        margin-bottom: 19px;

    }


 
    
    .wrapper{
        background-color: aliceblue;
        margin-top: 10%;
        margin-bottom: 10%;
        
    }

/* our product */
    .outproduct{
       
        width: auto;
        height: auto;
        background-color: rgb(13, 53, 88);
        margin-top: 10%;
        text-align: center;
        flex-wrap: wrap;

    }

    .mainc{
        display: flex;
        width: 100%;
        justify-content: stretch;
        display: inline-flex;
        flex-wrap: wrap;

   }

    .ff{
        display: flex;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    .ourprolistig{
        background: rgb(187, 33, 33);
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        height: 300px;
        border-radius: 20px;
        line-height: 20px;
        color: #8e8b8b;
        position: relative;
         box-shadow: 0px 50 60 rgba(230, 206, 206, 0.1);
    }


    #h1ourrproduc{
        font-size: 52px;
        margin-bottom: 50px;
        text-align: center;
    }

    #ourproh1{
        margin-top: 25px;
        color: #81c644;
        font-size: 26px;
left: 10px;
position: relative;

}


    .product_img{
        width: 200px;
        height: 200px;

        position: relative;
left: 10%;
        background-color: rgba(66, 63, 63, 0.007);
       
    }


    .product_img img{
        width: 200px;
        height: 200px;
        padding: 10%;
        border-radius: 20%;
    }


    /* our product end */



    #h1ourtemm{
        font-size: 52px;
        margin-bottom: 60px;
        text-align: center;
    }



   
    


    .team1{
        display: flex;
        text-align: center;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
/* Justify content place value in center */
    .team{
        
        background: rgb(217, 221, 221);
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        linse-height: 20px;
        color: #8e8b8b;
        position: relative;
    }

    .team h1{
        color: #81c644;
        font-size: 26px;
        margin-top: 50px;
    }

    .team p.rold{
       color: rgb(235, 8, 8);
        font-size: 12px;
        text-transform: uppercase;
        margin: 12px 0;
    }

    .team_img{
        width: 100px;
        height: 100px;
        border-radius: 50%s;
        position: absolute;
        top: -50px;
        left: 30%;
        background-color: white;
        
    }
    .team_img img{
        width: 100px;
        height: 100px;
        padding: 10%;
    }


   #welcomt{
       margin-left: 35px;
    font-weight: bold;
    font-size: 48px;
    line-height: 70p35pxx;
    color: #000000;
    margin-bottom: 5px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   }
   .sidh{
    margin-left: 35px;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 8px;
   }


   #hpmepara{

    margin-left: 35px;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
   }


 
   

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .contact-form{
      height: 100%;
      width: 100%;
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}
</style>
