
<html>
    <%-include('commonview/nav')-%>

<head>
    <title>
        Login page
    </title>
   
</head>
<body>
   <form method="POS" action="" >

    <label for="email">Enter your email</label><br>
    <input type="text" name="email"><br><br>
    <label for="name">Enter your name</label><br>
    <input type="text" name="name"><br><br>
    <label for="no">Enter your phone no</label><br>
    <input type="text" name="no"><br><br>
   <button type="submit">Submit request</button>
   </form>
    

</body>

</html>

<style>
    #p1{
        color: black;
        font-size: 18px;
             font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
             width: fit-content;
             border-style: dotted;
             border-color: rgb(236, 199, 199);
    }


</style>