<ul class="nav">

    <li><a href="/dashboard">Home</a></li>
    <li><a href="/getmongodata">Services</a></li> 
    <li><a href="/getmongodata">About</a></li> 
    <li><a href="/getmongodata">Gallery</a></li> 
    <li><a href="/getmongodata">Contact</a></li> 
   </ul>
   
   <style>
       body{
           
           background-color: tomato;
           color: whitesmoke;
       }
       a{
           color: black;
   
        }
       .nav li{
        position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid red;
           align-content: flex-end;
           display: inline;
           font-size: 54px;
           background-color: aliceblue;
           border: 0in;
           position: relative;
       } 
   
       ul{
           list-style-type: georgian;
            margin: 20px;
           padding: 20px;
       }
   
        a:hover {
     background-color:cornsilk;
    color: #000;
   }
   
   .nav li:hover{
       margin: 54px;
   color: red;
   }
       
   </style>