<ul class="nav">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/getmongodata">Get Data</a></li> 
   </ul>
   
   <style>
       body{
           background-color: tomato;
           color: whitesmoke;
       }
       a{
           color: black;
   
        }
       .nav li{
           display: inline;
           font-size: 54px;
           background-color: aliceblue;
           border: 0in;
           position: relative;
       } 
   
       ul{
           list-style-type: georgian;
     margin: 20px;
     padding: 20px;
       }
   
        a:hover {
     background-color:cornsilk;
    color: #000;
   }
   
   .nav li:hover{
   color: red;
   }
       
       
       
   </style>