*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* id access with #idname{} */

/* class access with .classname{} */
.myh2{
color: rgb(101, 57, 160);
background-color: #098765;
width: 300;
height: 40;
}
/* background-attachment: ye image ko background me fix kr dega scroll nhi hoga , apne position pe six rhega  (paralex website) */

.backImge{
   width: 100%;
   height: 100vh;
   /* background-color: blue; */
   /* background repeat-- no-repeat--repeat stop krega
    repeat-y  verticall repeat krega 
    repeat-x horizontally repeat krega*/
   background-image: url('images/catimage.jpeg' );
   /* background-repeat: repeat-y; */
   background-size: 100% 100%;  /*we can  also ues here cover or contain*/
   background-attachment: fixed;

   
}


/* backImge1 ---first image ko second se replace kr dega  */
.backImge1{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    /* background repeat-- no-repeat--repeat stop krega
     repeat-y  verticall repeat krega 
     repeat-x horizontally repeat krega*/
    background-image: url('images/cattwo.jpeg' );
    /* background-repeat: repeat-y; */
    background-size: 100% 100%;  /*we can  also ues here cover or contain*/
    background-attachment: fixed;
 
    
 }

 .backI{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    /* background repeat-- no-repeat--repeat stop krega
     repeat-y  verticall repeat krega 
     repeat-x horizontally repeat krega*/
background-color: aqua;
     /* background-repeat: repeat-y; */
    background-size: 100% 100%;  /*we can  also ues here cover or contain*/
    background-attachment: fixed;
 
    
 }


 /* font
 font family-- face of font
 font style italic bold ....
 font variant  small caps effects
 font size text size
 font weight */
/*  */
 #peraone{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
   font-variant: small-caps;/* chhota wala capital me kr dega aur size km kr dega */
   font-size: 1em;/* 1 em 16px */
   font-style: normal;
   font-weight: 400; /* jitna jyada denge utha bolde hoga jitna km denge utna km hoa */
   padding-bottom: 100;
 }


  /* text---- */
 #peratwo{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-variant: small-caps;/* chhota wala capital me kr dega aur size km kr dega */
    font-size: 1em;/* 1 em 16px */
    font-style: normal;
    color: red;
    letter-spacing: 2px;
    word-spacing: 2px;
    direction: ltr;
    text-align: left;/*  left , right , center*/
    text-transform: capitalize;  /* capitalize   first letter capat.. 
                                   uppercase   all capat..*/
 }


 /* Link--- */
a:link{
color: blueviolet;
 }

 a:visited{
     color: rgb(33, 36, 35);
}

a:hover{
     color:rgb(166, 166, 184);
}

a:active{
     color: yellow;
}

/* border--- */
/*  */
.borderstyleclass{
    width: 400;
    height: 300;
    border-width: 5px;
    background-color: red;
    border-color: blue;
    border-style:dashed;/*  style k aur bhi hote hai*/
    border-radius: 30px; /*  single -2 side se bhi radius de skte hai  border-right ,  border-top-left-radius  single sinlge side k different color bhi rakh skte hai*/


}

/*  */
/* List */
/* top pe padding margin 0 kiye hai , bina padding margin ka list's dots show nhi hota hai */
.ulclass{
    padding: 10;
    margin: 10;
    list-style: circle;
}


/* Box Model */
/*  */
.boxmodel{
    width: 400;
    height: 200;
    background-color: #098765;
    padding-left: 20px;
    margin: 12px;
}

#inone{

    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-color: wheat;
    border-radius: 1em;
}

/* Scrollbard----Overflow ek fix area me scroll lgane k liye */

#ppp{
    width: 300px;
    height: 300px;
    border-width: 10px;
    border-color: red;
    border-radius: 10px;
    border-style:solid;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 20px;
}

/* Postion 
view ko position dene k liye

parent view me relative de kr chid ka postion dena hai*/

.father{
    width: 400;
    height: 300;
    background-color: red;
    position: relative;
}

.child1{
    width: 80px;
    height: 50px;
    background-color: #098765;
    position:absolute;
    left: 0%;
}

.child2{
    width: 80px;
    height: 50px;
    background-color: blueviolet;
    position:absolute;
    right: 0;
}

.child3{
    width: 80px;
    height: 50px;
    background-color: aqua;
    position:absolute;
    bottom: 0;
    right: 0;
}

.child4{
    width: 80px;
    height: 50px;
    background-color: blue;
    position:absolute;
    left: bottom;
    bottom: 0;
    left: 0;
}

.navheader{
width: 100%;
height: 80px;
background-color: black;
position: fixed;
top: 0;
z-index: 9999;

}

/* Float----float:lest--ye view ko left me set krega
float:right--ye view ko right me set krta hai */
.logo{
    width: 30%;
    line-height: 80px;
    background-color: rgba(201, 248, 228, 0.904);
    line-height: center;
    text-align: center;
    float: left;
    }

    /* display----- */

    .menu{

        width: 70%;
        line-height: 100%;
        background-color: rgba(201, 248, 228, 0.904);
        float:right;

        
        
    }


    .ull{
       margin-right: 12px;
        height: 100%;
        list-style-type: none;
        text-align: right;
        direction: ltr;

    }

.ll{
    marker-end: 12px;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    padding: 12px;
}
    
    a{
        text-decoration: none;
    }

    
    
    main{
        margin-top: 10%;
        background-color: white;
        height: auto;
        width: auto;
        display: flex;
justify-content: space-between;
align-items: center;
    }
    /* .homeclass{
        background-color: rgba(236, 245, 241, 0.993);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;  /*we can  also ues here cover or contain
        background-attachment: fixed;
    } */

    /* .homedata1{
        text-align: center;
        width: 50%;

        float: left;
    }

    .homedata2{
        height: 50%;
        width: 50%;
        text-align: center;

        margin: 50px;

    }


    .homedata1 h2{
        height: 50%;
        font-weight: bold;
        font-size: 48px;
        line-height: 70px;
        color: #000000;
        margin-bottom: 19px;

    } */


 
    
    .wrapper{
        background-color: aliceblue;
        margin-top: 10%;
        margin-bottom: 10%;
        
    }

/* our product */
    .outproduct{
       
        width: auto;
        height: auto;
        background-color: rgb(13, 53, 88);
        margin-top: 10%;
        text-align: center;
        flex-wrap: wrap;

    }

    .ff{
        display: flex;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    .ourprolistig{
        background: rgb(187, 33, 33);
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        height: 300px;
        border-radius: 20px;
        line-height: 20px;
        color: #8e8b8b;
        position: relative;
         box-shadow: 0px 20px 40px rgba(230, 206, 206, 0.1);
    }


    #h1ourrproduc{
        font-size: 52px;
        margin-bottom: 50px;
        text-align: center;
    }

    #ourproh1{
        margin-top: 25px;
        color: #81c644;
        font-size: 26px;
left: 10px;
position: relative;

}


    .product_img{
        width: 200px;
        height: 200px;

        position: relative;
left: 10%;
        background-color: rgba(66, 63, 63, 0.007);
       
    }


    .product_img img{
        width: 200px;
        height: 200px;
        padding: 10%;
        border-radius: 20%;
    }


    /* our product end */



    #h1ourtemm{
        font-size: 52px;
        margin-bottom: 60px;
        text-align: center;
    }



   
    


    .team1{
        display: flex;
        text-align: center;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
/* Justify content place value in center */
    .team{
        background: #fff;
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        line-height: 20px;
        color: #8e8b8b;
        position: relative;
    }

    .team h1{
        color: #81c644;
        font-size: 26px;
        margin-top: 50px;
    }

    .team p.rold{
       color: #ccc;
        font-size: 12px;
        text-transform: uppercase;
        margin: 12px 0;
    }

    .team_img{
        width: 100px;
        height: 100px;
        border-radius: 50%s;
        position: absolute;
        top: -50px;
        left: 30%;
        background-color: white;
        
    }
    .team_img img{
        width: 100px;
        height: 100px;
        padding: 10%;
    }


   #welcomt{
       margin-left: 35px;
    font-weight: bold;
    font-size: 48px;
    line-height: 70p35pxx;
    color: #000000;
    margin-bottom: 5px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   }
   .sidh{
    margin-left: 35px;
    font-weight: bold;
    font-size: 34px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 8px;
   }


   #hpmepara{
    margin-left: 35px;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
   }