<ul class="nav">
 <li><a href="/">Home</a></li>
 <li><a href="/login">Login</a></li>
 <li><a href="/About">About</a></li> 
 <li><a href="/submitreq">Submit Request</a></li> 
</ul>

<style>
    body{
        background-color: tomato;
        color: whitesmoke;
    }
    a{
        color: black;

        
    }
    .nav li{
        display: inline;
        font-size: 54px;
        background-color: aliceblue;
        border: 0in;
        position: relative;
    } 

    ul{
        list-style-type: georgian;
  margin: 20px;
  padding: 20px;
    }

     a:hover {
  background-color:cornsilk;
 color: #000;
}

.nav li:hover{
color: red;
}
    
    
    
</style>